<app-header></app-header>

<main>
    <ul id="users">
        <app-user 
            [user]="users[0]"
            (userSelected)="onUserSelected($event)"
        />
        <app-user 
            [user]="users[1]"
            (userSelected)="onUserSelected($event)"
        />
        <app-user 
            [user]="users[2]"
            (userSelected)="onUserSelected($event)"
        />
        <app-user 
            [user]="users[3]"
            (userSelected)="onUserSelected($event)"
        />
    </ul>
    <app-tasks [name]="nameSelected"/>
</main>
